:root{
  --azul-oscuro: #00273B;
  --azul-muy-claro: #0085C7;
  --azul-claro: #005A87;
  --azul:#1939FA;
  --naranja: #FA5419;
  --rosado: #BD14C7;
  --verde: #59C70A;
  --rojo: #C71426;
  --gris-claro: #BEC7C7;
  --gris: #7F7F7F;
  --gris-oscuro: #272727;
  --marino: #0BD4AA;
  --neon-fucsia:#c501e2;
  --neon-verde:#2ef8a0;
  --neon-rojo:#ff0534;
  --neon-rosado: #f82d97;
  --neon-celeste: #01c4e7;

  --neon-rosa-oscuro: #f23869;
  --neon-violeta-oscuro: #110559;
  --neon-violeta-muy-oscuro: #030226;
  --neon-violeta:#21118c;
  --neon-violeta-claro: #3621BF;

}


@font-face {
  font-family:'Inconsolata', monospace;
  src: url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lora&display=swap");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--azul-oscuro);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 /*Navegador*/
 
.navBar {
  width: 100vw;
  height: 90px;
  padding: 0 10px;
  display: flex;
  border-bottom: 1px solid var(--neon-violeta);
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  background-color: var(--neon-violeta-muy-oscuro);
}

.navBar a {
  text-decoration: none;
  font-weight: 600;
}
.navBar .logo{
  font-size: 2rem;
  text-shadow: 1px 1px var(--neon-celeste);
  background: radial-gradient(closest-side, var(--neon-violeta-claro), transparent);
  color: var(--neon-rojo);
}
.contenedor-central-nav{
  height: 100%;
  display: flex;
  width:55%;
  min-width: 450px;
  justify-content: space-around;
  align-items: center;
  
}
.contenedor-central-nav .inicioNav{
  height: 100%;
  width: 20%;
  padding: 0 10px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar .div-lista{
  width: 50%;
  height: 100%;

}
.navBar .div-lista > ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 0 15px ;
  align-items: center;
  list-style: none;
}

.navBar .div-lista > ul > li{
  height: 50px;

}

/*Efecto bordes neon*/
.btn-nav{
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  width: auto;
  padding: 15px 30px;
  letter-spacing: 3px;
  display: flex;
  color: var(--neon-celeste);
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  overflow: hidden;
}

.btn-nav:hover {
  background: var(--neon-celeste);
  box-shadow: 0 0 10px var(--neon-celeste), 0 0 30px var(--neon-celeste), 0 0 60px var(--neon-celeste);
  transition-delay: 1s;
  color: var(--neon-violeta-muy-oscuro);

}
.btn-nav span{
  position: absolute;
  display: block;
}
.btn-nav > .span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,var(--neon-celeste));
}

.btn-nav:hover > .span1{
  left: 100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.btn-nav  > .span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,var(--neon-celeste));
}

.btn-nav:hover > .span3{
  right: 100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition-delay: 0.5s;
}

.btn-nav > .span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,var(--neon-celeste));
}

.btn-nav:hover > .span2{
  top: 100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition-delay: 0.25s;
}
.btn-nav > .span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,var(--neon-celeste));
}

.btn-nav:hover > .span4{
  bottom: 100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition-delay: 0.75s;
}

/*---------------------------------*/
/*Carrito*/

.div-carrito-login {
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.div-carrito-login > div{
  font-size: 28px;
  color: var(--neon-celeste);
  height: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}
.div-carrito-login > div > a{
  color: var(--neon-celeste);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-shopping-cart{
  margin-right: 5px;
}
.contenedor-conteo-carrito{
  display: inline-block;
  position: relative;
  background-color: var(--neon-violeta-claro);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  left: -25%;
  top: -10%;
}
.conteo-carrito{ 
  font-weight: 600;
  font-size: 1.1rem;
  position: absolute;
  top: -18%;
  left: 20%;
  color: var(--neon-verde);
}


/*Termina Carrito (El carrito y el login están en un mismo contenedor)*/
.navBar .login {
  width: 60px;
  height: 50px;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Termina Navegador*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Empieza Main*/
main {
  margin-top: 20px;
  text-align: center;
}

main > section {
  padding: 20px 15px 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px 50px;
}

main > section > article {
  height: 130px;
  border: 1px solid var(--neon-rojo);
  border-radius: 10px;
  background-color: var(--azul-claro);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


main > section > article .titulosEnArticle{
  display: flex;
  justify-content: space-between;

}

main > section > article .titulosEnArticle > span{
  margin: 3px 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gris);
}
main > section > article .agregarAlCarro > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

main > section > article .agregarAlCarro > div>  span{
  display: inline-block;
  cursor: pointer;
  background-color: white;
  height: 35px;
  width: 25px;
  text-align: center;  
  border: 1px solid var(--neon-rojo);
  font-size: 20px;
}

main > section > article .agregarAlCarro > div>  span:active{
  background-color: var(--gris-claro);
}

main > section > article .agregarAlCarro > div > .menos{
  border-end-start-radius: 5px;
  border-start-start-radius: 5px;
}
main > section > article .agregarAlCarro > div > .mas{
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
}

main > section > article .agregarAlCarro > div > input {
  text-align: center;
  display: inline-block;
  border-top: 1px solid var(--neon-rojo);
  border-bottom: 1px solid var(--neon-rojo);
  border-right: none;
  border-left: none;
  width: 60%;
  height: 35px;
}
main > section > article .agregarAlCarro > button{
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border: none;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  color: var(--neon-celeste);
  font-weight: 700;
}
.botonAgregarCarro:active, .botonAgregarCarro:focus, .botonAgregarCarro:hover{
  cursor: pointer;
}

.botonAgregarCarro:hover{
  background-color: var(--gris-claro);
}
.botonAgregarCarro:active{
  border: 1px solid var(--gris-oscuro);
}